#tabla{
	width: 100%;
	margin-top: 10%;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 80%;
	font-family: 'Helvetica', 'Arial', sans-serif;
	margin-left: auto;
	margin-right: auto;
	font-size: 45px;
}

th, td{
	padding: 20px;
	border-radius: 7px;
	font-size: 35px;
}

thead{
	background-color: #27AE60;
	border:none;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}


.boton{
	padding: 15px;
	background: #27AE60;
	color:#fff;
	border: none;
	border-radius: 10%;
	font-size: 20px;
	cursor:pointer;
	
}

.boton2{
	padding: 10px;
	background: #CB4335;
	color:#fff;
	border: none;
	border-radius: 10%;
	font-size: 20px;
	cursor:pointer;	
}
