*{
	outline: 0;
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin: 1em;
	font: normal 3vw/1 'Montserrat', sans-serif;
	text-align: center;
	text-transform: uppercase;
	overflow-y: hidden;
}

.input{
	margin-top: 1%;
	display: inline-flex;
	margin-left: 30%;
	margin-right: auto;
}

#solapar{
	position:fixed;
	z-index:2000;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}

.number{
	width: 8%;
	height: 50px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 1px 0px 0px 2px solid #000;
	background-color: white;
	border:none;
	margin-left: 2%;
}

.number input{
	width: 45%;
	padding: 0px;
	border-radius: 10px;
	background-color: white;
	border:none;
	margin-left: auto;
	margin-right: auto;
	font-size: 50px;
	text-align: center;
}

#boton{
	position: absolute;
	width:100px;
	height:100px;
	background-color:#C0392B;
	padding:10px;
	border-radius: 50px;
	font-size:12px;
	text-transform: uppercase;
	border: none;
	color: white;
}

#boton:active{
	transform: scale(0.8);
}

.input-boton{
	margin-top: 20%;
}

#ganadores{
	width: 70%;
	margin-left: 12%;
	margin-right: auto;
	margin-top: -8%;
	background-color: #fff;
	height: auto;
	position: absolute;
	padding: 15px;
	min-height: 280px;
	max-height: 280px;
	overflow-y: scroll;
}

#numeros{
	width: 100%;
	display: inline-block;
}

.win{
	width: 10%;
}

.list{
	float: right;
	width: 10%;
	margin-top: -10%;
	margin-right: 2%;
	border:none;
	padding: 5px;
	color: white;
	background-color: #16A085;
	border-radius: 7px;
	cursor: pointer;
}


table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 80%;
	font-family: 'Helvetica', 'Arial', sans-serif;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}

th, td{
	padding: 20px;
	border-radius: 7px;
}

thead{
	background-color: #27AE60;
	border:none;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}

#val{
	font-size: 100px;
	margin-top:15%;
	margin-left: auto;
	margin-right: auto;
}